* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
    
}



.about {
    padding-top: 20vh; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 10vh;
    
}




.about .intro #surname{
    color: #E94451;
}
  
  .name-enter {
    opacity: 0;
  }
  
  .name-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10vw; 

    
}

.intro h4 {
    margin-bottom: 5vh; 
    color: white;
    font-size: 2vw; 
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.intro h1 {
    position: sticky;
    color: #FDFDFD;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;

   
}
.intro p{
    margin-top: 4vh;
    width: 400px;
    height: 50px;
    color: #FDFDFD;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    
}
.contacts{
    padding-top: 20px;
}

.contacts ul{

    display: flex;
    align-items: center;
    
}

.contacts ul li a {
    padding-right: 20px;
    color: white;
    
    
  }
  
  .contacts ul li  {
    padding-right: 20px;
    color: white;
    animation: upDown 1s infinite alternate; /* upDown adında bir animasyon, sürekli ve alternatif olarak çalışacak */
  }
  
  @keyframes upDown {
    0% {
      transform: translateY(0); /* Başlangıç konumu */
    }
    100% {
      transform: translateY(10px); /* Son konum */
    }
  }
  

  .photo img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
    width: 400px;
}





  

@media screen and (max-width: 768px) {
    .photo  {
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-left: 10px;
    }
    .intro p{
     width: 200px;
     height: 200px;
      
  }
   
}

@media screen and (max-width: 1000px) {
  .photo img {
    width: 160px;
    padding-bottom: 100px;
}

}

