*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
}
body{
    background-color: #1F2235;
    margin: 0;
    padding: 0;
    
}






.navbar{
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    
   
    
    
}



.navbar .nav-logo{
    padding-left: 10vw;
}

.navbar .nav-links{
    padding-right: 10vw;
}

.navbar .nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-links ul li{
    padding-right: 40px;
}

.navbar .nav-links ul li a:hover{
   color: #dfdfdf;
   
   
}

.navbar .nav-links ul li a{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CC3D4B;
    letter-spacing: 1px;
}


.toogle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 20vw;
  }
  
  .toogle ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    background-color: black;
  }
  
  .toogle ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    opacity: 0.7; 
    margin-top: 10px;
    height: 40px;
    width: 100px;
  }
  
  .toogle #toggle-icon {
    position: fixed;
    color: wheat;
    width: 60px;
    height: 60px;
  }


