* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.who {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1400px;
 
}

.who .title {
  padding-top: 150px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

.who .talents-select {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.who .talents-select .buttons {
  display: flex;
  justify-content: space-around;
  width: 600px;
}

.who .talents-select .buttons button {
  background: none;
  border: 1px solid red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  width: 100px;
  height: 50px;
}

.who .talents-select .buttons button:hover {
  background-color: blueviolet;
  border: none;
}

.who .talents {
  padding-top: 100px;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  color: wheat;
}

.who .talents ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 1000px;
  }

  .who .talents ul li{
   border: none ;
   height: 150px;
   width: 300px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
  }

  .who .talents ul li img{
   width: 100%;
   height: 100%;
   }
  .who .talents ul li:hover {
    transform: scale(1.05); /* Büyüklük artışı */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Gölgelendirme efekti */
    border-color: #ff00ff; /* Hover sırasında sınır rengi değişimi */
  }


  @media screen and (max-width: 600px) {
    .who {
      height: auto; /* Yükseklik otomatik olarak ayarlanacak */
      padding-top: 50px; /* Boşluk azaltma */
    }
  
    .who .title {
      padding-top: 50px; /* Boşluk azaltma */
    }
  
    .who .talents-select {
      padding-top: 30px; /* Boşluk azaltma */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .who .talents-select .buttons {
      
      width: 80%; /* Buton grubunun genişliğini ayarla */
      flex-wrap: wrap; /* Birden fazla satıra geçiş */
      justify-content: center; /* Butonları ortala */
    }
  
    .who .talents-select .buttons button {
      width: 100px; /* Buton genişliği */
      margin: 10px; /* Butonlar arası boşluk */
    
    }
  
    .who .talents {
      padding-top: 50px; /* Boşluk azaltma */
      width: 90%; /* Liste genişliğini ayarla */
    }
  
    .who .talents ul {
      grid-template-columns: repeat(1, 1fr); /* Tek sıralı liste */
      gap: 20px; /* Boşluk azaltma */
    }
  
    .who .talents ul li {
      width: 100%; /* Liste öğelerinin genişliğini ayarla */
      
    }
  }

  @media screen and (max-width: 400px) {
    .who {
      height: auto;
      padding-top: 30px;
      
    }
  
    .who .title {
      padding-top: 30px;
      text-align: center;
      font-size: 24px; /* Başlık metni boyutunu düşür */
    }
  
    .who .talents-select {
      padding-top: 20px;
    }
  
    .who .talents-select .buttons {
      width: 80%;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .who .talents-select .buttons button {
      width: 80px;
      height: 40px;
      margin: 10px;
      font-size: 12px; /* Buton metni boyutunu düşür */
    }
  
    .who .talents {
      padding-top: 30px;
      width: 90%;
    }
  
    .who .talents ul {
      grid-template-columns: repeat(1, 1fr); /* Tek sütun */
      gap: 10px;
    }
  
    .who .talents ul li {
      width: 100%; /* Öğe genişliği */
      height: 150px; /* Öğe yüksekliği */
    }
  
    .who .talents ul li img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Resimleri kese ve yerleştir */
    }
  }
  
  